{% extends "product/Base.html" %}
{% block content %}
    <h1 style="text-align: center;margin-top: 10px;">How to contact Rolex?</h1>
            <div id='Contact-form'>
                <div class="form-group" style="margin-top: 30px">
                    <h2>Rolex mailing address</h2>
                    <ul style="margin-left: 20px">
                        <li>You can send letters to Rolex’s address: <strong>ROLEX SA 3-5-7 rue François-Dussaud 1211 Geneva 26 Switzerland</strong></li>
                    </ul>
                </div>
                <div class="form-group" style="margin-top: 40px">
                    <h2>Email Rolex - How do I send an email to Rolex?</h2>
                    <ul style="margin-left: 20px">
                        <li>For privacy-related inquiries: privacy@rolex.com</li>
                        <li>Marketing Manager: kyle.younghans@rolex.com</li>
                        <li>Marketing Manager: alexandra.gasser@rolex.com </li>
                        <li>Rolex UK head office: london.service@rolex.co.uk</li>
                        <li>General manager Rolex Brasil: eduardo.machado@rolex.com </li>
                        <li>Chief information officer: gerard.orourke@rolex.com </li>
                    </ul>
                </div>
               <div class="form-group" style="margin-top: 40px">
                    <h2>Call Rolex</h2>
                    <ul style="margin-left: 20px">
                        <li>For privacy-related inquiries, call: +4122 302 22 00</li>
                        <li>Australia: +61 3 9654 3988</li>
                        <li>Canada: 1 416 968 1100</li>
                        <li>France: +33 1 44 29 01 50</li>
                        <li>Germany: +49 221/ 1650 0</li>
                        <li>Hong Kong: +852 2249 8888</li>
                        <li>India: +91 22 6625 3600</li>
                        <li>Switzerland: +41 22 302 22 00</li>
                        <li>Spain: +34 91 426 49 00</li>
                        <li>UK: +44 20 7024 7300</li>
                        <li>Rolex costumer service USA: +1 212 758 7700</li>
                        <li>Rolex customer service Switzerland: +41223022200</li>
                    </ul>
               </div>
            </div>
{% endblock %}