{% extends "product/Base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'product/aside-1.css' %}">
{% endblock %}
{% block content %}
    <h1 style="text-align: center;margin-top: 10px;margin-bottom: 20px;">Rolex and Music</h1>
            <div id='MusicBlock1'>
                <div>
                   <h2>In tune with the times</h2>
                    <p>As our universal heritage, music must be perpetuated and nurtured in our daily lives. It is in this spirit that Rolex partners prestigious institutions, including four of the world’s leading opera houses – London, Milan, New York and Paris – as well as two jewels in classical music, the Salzburg Festival and the Vienna Philharmonic.<br/>
                    By supporting singers, conductors and virtuoso musicians who continually reinterpret the classics to resonate with our time, Rolex contributes to keep music alive around the world.</p>
                </div>
                <div>
                    <h2>Lasting contribution to culture</h2>
                    <p>Over the years, Rolex has embraced partnerships with many of the world’s leading artists and prestigious institutions, including musicians, festivals, concerts and orchestras. These include the great operatic stages: Milan’s Teatro alla Scala, the Royal Opera House in London, New York’s Metropolitan Opera and the Opéra national de Paris.</p>
                </div>
                <figure>
                    <img src="https://i.ytimg.com/vi/NGXWJC1uDuM/maxresdefault.jpg" alt="m" width="100%">
                    <figcaption style="text-align: center; font-style: italic">Rolex and the Vienna Philharmonic</figcaption>
                </figure>
                <div>
                    <h2>Beacons of classical music</h2>
                    <p>Rolex has been Exclusive Partner of the renowned Vienna Philharmonic since 2008 and Exclusive Sponsor of the famous New Year’s Concert since 2009, demonstrating the brand’s dedication to the arts and culture and promoting the highest level of achievement in music.</p>
                </div>
            </div>
{% endblock %}