{% extends "product/Base.html" %}
{% load static %}
{% block extra_css %}
     <link rel="stylesheet" href="{% static 'product/aside.css' %}">
{% endblock %}
{% block content %}
     <h1 style="text-align: center;margin-top: 10px">Rolex and Yachting</h1>
            <div id='Yachting'>
            <div class='YachtingBlock'>
                <h2>A partnership going the distance</h2>
                <p>Yacht clubs, renowned sailors, iconic offshore races and some of the most celebrated regattas. For almost 70 years Rolex has forged strong relationships with the world of yachting. A prominent yacht racing partner, the brand shares the common pursuit of excellence and a passion for premium performance with major custodians of the sport’s enduring spirit.</p>
            </div>
            <div class='YachtingBlock'>
                <h2>Premier crewed yacht races</h2>
                <p>Rolex partners some of the top crewed coastal regattas and offshore races. The brand is associated with numerous annual and biannual coastal regattas all over the world. It is Official Timepiece for two such championships that are at the cutting edge of nautical technology: SailGP, featuring the planet’s fastest catamarans, and the 52 SUPER SERIES for high-performance TP52 monohulls. Rolex also partners prestigious offshore races, such as the Rolex Fastnet Race, the Rolex Sydney Hobart Yacht Race and the Rolex Middle Sea Race.</p>
            </div>
            <figure id="yacht">
                <img src="https://newsroom-content.rolex.com/-/media/project/rolex/newsroom/rolex/rolex-newsroom-int/world-of-rolex/rolex-and-sports/rolex-and-yachting/rolex-and-yachting-hub/maxi-yacht/og_maxi19cb_00628.jpg" alt="yacht" width="100%">
                <figcaption style="text-align: center;font-style: italic">Rolex and Yachting</figcaption>
            </figure>
            <div class='YachtingBlock'>
                <h2>Yacht clubs Vital to the future of sailing</h2>
                <p>Rolex is committed to continuously supporting the most dynamic yacht clubs, institutions essential to the evolution of sailing that help perpetuate and develop the discipline in equal measure. These clubs are a harmonious blend of tradition and progress, organizing regattas and offshore races of global importance.</p>
            </div>
            <div class='YachtingBlock'>
                <h2>Precision as a requisite</h2>
                <p>Chronometric precision is a vital part of navigation, essential for determining exact location. Sailors have, therefore, always sought to equip themselves with the most accurate instruments available, a quest that has extended to competitive yachting. Starting strongly, coordinating crews, optimizing boat trajectories; precision is crucial at every stage of the race.
                   <br/> As a result, Rolex created a tool watch dedicated to competitive sailing. The launch of the Yacht-Master II in 2007, 15 years after the Yacht-Master (1992), underpinned the natural convergence between yachting and precision watchmaking.</p>
            </div>
            </div>
{% endblock %}